mixin topnavbar(curPage, list)

    //- Print out active and inactive links on topnavbar
    each item in list
        if(item.text == curPage)
            a(href= item.ref).active= item.text
        else
            a(href= item.ref)= item.text

mixin dropdown(curPage)
    .dropdown-content
        ul
            //- Remove first link from dropdown
            - var leftList = settings.leftList.slice(1, settings.leftList.length)
            
            //- Add left topnavbar items to dropdown
            each item in leftList
                li
                    a(href= item.ref)= item.text

            //- Add right topnavbar items to dropdown
            - var rightList = settings.rightList

            each item in rightList
                li
                    a(href= item.ref)= item.text

mixin sidebar-body(sidebarTitle)

    - var hrefIndex = 0;
    .sidebar-body

        //- Print the header
        h1= sidebarTitle

        ul

            //- Print each link found in links array
            each link in container
                li
                    a(href= '#' + hrefIndex)= link.header
                - hrefIndex++

mixin container-body()

    //- Print out posts found in container array
    - var hrefIndex = 0;
    each post in container
        .post(id= hrefIndex)
            h1= post.header
            p= post.content
        - hrefIndex++

    //- Add jump to top link
    .jumptotop
        a(href= '#top')= settings.jumpText